MONITORING_BIND_ADDRESS=127.0.0.1
MONITORING_PUBLIC_HOST=monitor.jefferyhaynes.net
MONITORING_PUBLIC_URL=https://monitor.jefferyhaynes.net
MONITORING_UID=1000
MONITORING_GID=1000
KUBERNETES_CLUSTER_DNS=10.43.0.10
MONITORING_DATA_DIR=./data
MONITORING_ENV_FILE=.env.example
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD_FILE=./secrets-example/grafana_admin_password
KUBERNETES_API_URL=https://192.168.86.246:6443
KUBERNETES_HOST_CA_FILE=/var/lib/rancher/k3s/server/tls/server-ca.crt
CLOUDFLARE_ACCESS_TEAM_DOMAIN=https://replace-me.cloudflareaccess.com
CLOUDFLARE_ACCESS_AUDIENCE=replace-me
