MONITORING_BIND_ADDRESS=127.0.0.1
MONITORING_PUBLIC_HOST=monitor.jefferyhaynes.net
MONITORING_PUBLIC_URL=https://monitor.jefferyhaynes.net
MONITORING_UID=1000
MONITORING_GID=1000
MONITORING_DATA_DIR=./data
MONITORING_ENV_FILE=.env.example
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD_FILE=./secrets-example/grafana_admin_password
